.servicesdiv {
    background: #F6F8F7;
    width: 100%;
    box-shadow: 0px 0px 37px -2px #1118270D;
    border: none;
    margin-bottom: 3rem;

}
.servicesdiv>h3{
    padding-top: 3rem;
}

.servicesimage {
    width: 33.33px;
    position: absolute;
    left: 47.33%;
    right: 8.33%;
    top: 18.67%;
    bottom: 20.67%;
    /* padding-top: 2rem; */
}

.cardcontaint {
    font-size: large;
    font-weight: bold;
    color: #2947A9;
}

.revalution {
    background: #2947A9;
}

#renu {
    background-color: #2947A9;
}
.card246{
    background:  #2947A9;
    color: white;
}
.servicescards{
height: 100px;
}
