.mainbg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.trbg{
    
    background:  url(..//Pics/transbg.png);
    width: 100vw;
    height: 30vh;
    margin-bottom: 5rem;
}
.l-bg{
    color: white;
    width: 70%;
    justify-content: center;
}
.bgbutton{
    background: transparent;
    color: white;
    border: 1px solid white;
}
@media(max-width:615px){
    .mainbg{
        display: block;
        padding-left: 15px;
        height: auto;
        
    }
    
    .trbg{
        height: 50%;
        padding-bottom: 1rem;
    }
}
@media(max-width:359px){
    .mainbg{
        display: block;
        padding: 20px;
    }
    .trbg{
        width: 80%;
        height: 70vh;
    }
}